<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>{% block title %}{% endblock %} - Flaskr</title>

</head>
<body>
  <nav>
    <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
    <ul>
      {% if current_user.is_authenticated %}
        <li><span>{{ current_user.username|title }}</span>
        <li><a href="{{ url_for('blog.create') }}">Create Post</a>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>

  {% block more_js %}
  
  {% endblock more_js %}
  
</body>
</html>